<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745556019058-fjmjsob4jfdtppfc0fl7ogkcp0290oim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745556019058-fjmjsob4jfdtppfc0fl7ogkcp0290oim</string>
	<key>API_KEY</key>
	<string>AIzaSyADImTuSMcY3iT_cNZ9siZFN7Oeq8PPtWs</string>
	<key>GCM_SENDER_ID</key>
	<string>745556019058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saucepan.Saucepan</string>
	<key>PROJECT_ID</key>
	<string>saucepan-f5421</string>
	<key>STORAGE_BUCKET</key>
	<string>saucepan-f5421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745556019058:ios:1b4c69e79c9d582c</string>
	<key>DATABASE_URL</key>
	<string>https://saucepan-f5421.firebaseio.com</string>
</dict>
</plist>